<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<br>
<h1 style="text-align: center;color: blue;border: red"><a href="/" >HOME PAGE</a> | <a href="/theme" >THEME</a> | <a href="/author" >AUTHOR</a></h1>
<hr>
<br>
<form th:action="@{/create-author}" th:object="${authors}" method="post">
    <table id="title">
        <tr>
            <td><input type="text" th:field="*{author}" placeholder="Input Author Of Blog"></td>
        </tr>
    </table>
    <br>
    <td><input type="submit" value="Create New Author"></td>
    <br>
</form><footer th:fragment="footer">
    &copy; Gods.ZeZo
</footer>
</body>
</html>