<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DELETE</title>
</head>
<body>
<br>
<h1 style="text-align: center;color: blue;border: red"><a href="/" >HOME PAGE</a> | <a href="/theme" >THEME</a> | <a href="/author" >AUTHOR</a></h1>
<hr>
<form th:action="@{/delete-author/__${id}__}" th:object="${authors}" method="post">
    <td><input type="hidden" th:value="${id}" th:field="*{id}"></td>
    <table border="1px">
        <tr>
            <th th:text="${authors.author}"></th>
        </tr>
    </table>
    <br>
    <td><input type="submit" value="Delete"></td>
</form>
</body>
</html>