<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Dandelion</title>
</head>
<body>
<br>
<h1 style="text-align: center;color: blue;border: red"><a href="/" >HOME PAGE</a> | <a href="/theme" >THEME</a> | <a href="/author" >AUTHOR</a></h1>
<hr>
<br>
<h4 style="text-align: center ; color: red"  ><a th:text="${title.get().title}"></a></h4>
<p style="text-align: center ; color: blue"><a th:href="@{/edit-title/__${id}__}">edit</a> | <a th:href="@{/delete-title/__${id}__}">delete</a></p>
<br>
<br>
<br>
<th:block >
    <p  th:text="${title.get().content}"></p>
</th:block>
<div style="text-align: center; color: red" >
    >>>>>>>>>> Author : <span th:text="${title.get().author.author}"></span><<<<<<<<<<
</div>
</body>
</html>