<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hr>
<a href="/title">Back view Home</a>
<hr>

<form  th:action="@{/update}" th:object="${titles}"
       method="post" novalidate="novalidate">
    <td><input type="hidden" th:value="${id}" th:field="*{id}"></td>
    <table border="1px">
        <tr>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td><select name="theme">
                <option th:each="themes : ${theme}" th:value="${themes.id}" th:text="${themes.theme}"></option>
            </select></td>
        </tr>
    </table>
    <br>
    <td><input type="submit" value="Update"></td>
</form>
</body>
</html>